<!-- Sec --> 


 <%= form_for :sessions , url: sessions_update_password_path , remote: true, class: "formStyling"  do  |s| %>

 

	<label for="password"><%= t('password') %></label>
       <div class="input-container">
            <%= s.password_field :password %>
            </div>

      
			<br/>
           <%= s.submit "Submit", class: "registration-button-style"%>



 <% end %>