<!-- Sec --> 

<div class="field">
   <p><%= @ModelData.model_name %></p>
</div>

<table>
  <tr>
    <th>Action Name</th>
    <th colspan="2"></th>
  </tr>
 
    <tr>
      
       <td><%= link_to @ActionData.action_name %></td>
   
    </tr>
</table>