$('#tab2').empty();
$('#tab2').append('<a href="#" id="linkToUserID">login</a>');

$(document).on("click", "#linkToUserID" , function(){
    //alert("Hit me");
	$( ".content-tab" ).tabs( "option", "active", 0 );
//	 $("#tabs" ).tabs( "option", "active", 2);
});
