
<h4 class="mg-h4"><%=t('payslip')%></h4>
<%if @message=="present"  %>
	<h5 style="color:red">Payslip is already generated for selected employee for selected month and year</h5>
	<%=render partial: 'edit_gen_payslip'%>
<%else%>
	<%=render partial: 'gen_payslip'%>
<%end%>


