
<table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">
   <tr>
      <td class="mg-td-width-half" valign="top">
        <label class="mg-label"><%=t('route_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
        <label class="mg-label-inner-form"><%= @transport_data.route_name %></label>
      </td>
  </tr>
  <tr>
      <td class="mg-td-width-half" valign="top">
        <label class="mg-label"><%=t('description')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
        <label class="mg-label-inner-form"><%= @transport_data.description %></label>
      </td>
  </tr>
  

  
</table>
