<!-- Sec --> 
      <tr>
        <td><%= employee_grade.grade_name %></td>
        <td>
           <button title="Show" class="show-employee-grade mg-icon-btn" id="showEmployeeGradeID-<%= employee_grade.id%>"><i class="fa fa-eye"></i></button>
           <button title="Edit" class="edit-employee-grade mg-icon-btn" id="editEmployeeGradeID-<%= employee_grade.id%>"><i class="fa fa-pencil-square-o"></i></button>
           <button title="Delete" class="delete-employee-grade mg-icon-btn" id="deleteEmployeeGradeID-<%= employee_grade.id%>"><i class="fa fa-trash"></i></button>
        </td>

      </tr>