  <label class="mg-label mg-tt-width "><%=t('select_event') %><span class="required-field"> *</span></label>
   <%=select_tag :mg_event_id ,options_for_select(@events),:onchange=>"optionForEventSelect(this.value)",:prompt=>t('select') , :id=>"selectCommitteeSelectTagID" ,:class=>"mg-select-btn"%>