<!-- Sec --> 
<%= fields_for :workEmail do |eml| %>

<%= eml.hidden_field :email_type,:value => "work"%>
<div class="form-content">
          <div class="form-content-inner">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="student-form-cls">
              <tbody>
              	<tr>
                  <td width="33%" valign="bottom">
                    <label for="email_id"><%= t('emailid') %></label>
                  </td>

                  <td> </td>
                  <td width="33%" valign="bottom">
                    
                  </td>
                  <td> </td>
                  <td width="33%" valign="bottom">
                    
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                     <%= eml.text_field :email_id %>
                  </td>
                  <td> </td>
                  <td valign="top">
                    
                  </td>
                  <td> </td>
                  <td valign="top">
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>             
 <% end %>        