<!-- Sec --> 
<!-- <h4>Edit Students Categories </h4>

<div id="page-yield">

  <div class="box">
	<%#= form_for @category, url:"students/1", method: :patch do |f| %>

		<label for="name"><%#= t('name') %></label>
	    <div class="input-container">
	    	<%#= f.text_field :name %>
	    </div>

	    <%#= submit_tag 'Save', class: "submit-crs" %>

	 <%# end %>

  </div>
</div> -->