<!-- Sec --> 
<!-- <h4>Add Students Categories</h4>

<div id="page-yield">

  <div class="box">
    
    <%#= form_for @category, url: students_student_category_path , method: :post do |f| %>

    	<%#= f.hidden_field :is_deleted,:value => 1%>
	    <label for="name"><%#= t('name') %></label>
	    <div class="input-container">
	    	<%#= f.text_field :name %>
	    </div>

	    <%#= submit_tag 'Save',id: "submitStudentCategory",  class: "submit-student-category" %>

 	<%# end %>
  </div>
 </div> -->
