<!--   s Sec --> <section id="userBodyContentBox" style="margin: 0 auto;">
    <table  border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                     <li class="myAccountMenu">Notifications</li>
                       
                        <li id="viewPrincipleNotificationLiID">

                            <a class="Principle-Profile" href="/notifications" id="viewPrincipleNotification">
                                <div class="setMenu"><i class="fa fa-comment">&nbsp;&nbsp;</i>Send Notification
                                </div>
                            </a>
                        </li>

                        
                        <li id="showAdminNotificationLiID">

                            <a class="Principle-Profile" href="/notifications/show_by_box" id="showAdminNotification">
                                <div class="setMenu"><i class="fa fa-weixin">&nbsp;&nbsp;</i>Show Notification
                                </div>
                            </a>
                        </li>


                        

                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageEmployeeCategoryID" class="mg-table-td-main-2" style="width: 745px;">

<script>
$(document).ready(function(){
    focusNotification();
});
</script>
              