<!-- Sec --> 
<%= render partial: 'schools/school_left' %>
<button title="Edit Principal"><i class="fa fa-pencil-square-o"></i></button>

<%= render partial: 'principal_profile' %>

<%= render partial: 'application/common_left_close' %>

