<!-- Sec --> 
<tr>
  <td><%= mg_role.role_name %></td>
  <td><%= mg_role.description %></td>
  <td>
  	<button title="Edit" class="edit-mg-role mg-icon-btn" id="editMgRoleID-<%= mg_role.id%>"><i class="fa fa-pencil-square-o"></i></button>
    <button title="Delete" class="delete-mg-role mg-icon-btn" id="deleteMgRoleID-<%= mg_role.id%>"><i class="fa fa-trash"></i></button>
    </td>

</tr>