<% navigation_add t('reset_password'), :controller => 'placements', :action => 'placement_head_resetpassword' %>
<%= render  partial: 'placements_left' %>
<h4 class="mg-h4"><%= t('reset_password') %></h4>

<%if @user.length>0%>
  <%= render  partial: 'resetpassword_index' %>
<%else%>
  <h5>No Placement Cell Head created</h5>
<%end%>
<%= render  partial: 'application/common_left_close' %>
<div id="newPlacementCellHeadDivId"></div>

<script>
  $( document ).ready(function() {
    focusCurrentTab("resetPasswordAID","resetPasswordLiID");
  });



</script>