<% navigation_add t('training'), :controller=>'placements', :action=>'training_offered' %>
<% navigation_add t('edit_offered_training'), training_offered_edit_path(@placement_training.id)%>

<%= render  partial: 'placements_left' %>
<h4 class="mg-h4"><%= t('edit_offered_training')%></h4>
<%= render  partial: 'placement_training' %>

<%= render  partial: 'application/common_left_close' %>
<script>
  $( document ).ready(function() {
    focusCurrentTab("training_offeredAID","training_offeredLiID");
    focusCurrentTab("placementsTrainingofferedCorpAID","placementsTrainingofferedCorpLiID");
  });
</script>
