<!-- Sec --> 
<tr>
  <td><%= mg_model.model_name %></td>
  <td><%= mg_model.description %></td>
  <td>
  	<button title="Edit" class="edit-mg-model mg-icon-btn" id="editMgModelID-<%= mg_model.id%>"><i class="fa fa-pencil-square-o"></i></button>
    <button title="Delete" class="delete-mg-model mg-icon-btn" id="deleteMgModelID-<%= mg_model.id%>"><i class="fa fa-trash"></i></button></td>

</tr>