<section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <div class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu mg-toggle-plus">Library</li>

                        <div class="mg-left-sub-menu-title">
                        <li id="libraryInformationLiID">
                            <a class="menuItemsActivities" href="/libraries" id="libraryinformationAID">
                                <div class="setMenu"><i class="fa fa-credit-card">&nbsp;&nbsp;</i>Books Purchase
                                </div>
                            </a>
                        </li>
                         <li id="bookcategoryLiID">
                            <a class="menuItemsActivities" href="/libraries/books_category_index" id="bookcategoryAID">
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i>Books Category
                                </div>
                            </a>
                        </li>
                        
                        <li id="bookinventoryLiID">
                            <a class="menuItemsActivities" href="/libraries/books_inventory_index" id="bookinventoryAID">
                                <div class="setMenu"><i class="fa fa-cubes">&nbsp;&nbsp;</i>Books Inventory
                                </div>
                            </a>
                        </li>

                        <li id="librarycardissueLiID">
                            <a class="menuItemsActivities" href="/libraries/library_card_issue_new" id="librarycardissueAID">
                                <div class="setMenu"><i class="fa fa-list-alt">&nbsp;&nbsp;</i>Library Card Issue
                                </div>
                            </a>
                        </li>
                        <li id="bookissueLiID">
                            <a class="menuItemsActivities" href="/libraries/book_issue_index" id="bookissueAID">
                                <div class="setMenu"><i class="fa fa-outdent">&nbsp;&nbsp;</i>Book Issue
                                </div>
                            </a>
                        </li>
                        </div>
                         <li class="myAccountMenu mg-toggle-plus">Library Reports</li>
                         <div class="mg-left-sub-menu-title">
                         <li id="classbookReportLiID">
                            <a class="menuItemsActivities" href="/libraries/class_by_class_report" id="classbookReportAID">
                                <div class="setMenu"><i class="fa fa-users">&nbsp;&nbsp;</i>Class by class report
                                </div>
                            </a>
                        </li>
                        <li id="damagedBooksListLiID">
                            <a class="menuItemsActivities" href="/libraries/damaged_book_list" id="damagedBooksListAID">
                                <div class="setMenu"><i class="fa fa-scissors">&nbsp;&nbsp;</i>Damaged Books List
                                </div>
                            </a>
                        </li>
                        
                        <li id="borrowedBooksListLiID">
                            <a class="menuItemsActivities" href="/libraries/borrowed_book_list" id="borrowedBooksListAID">
                                <div class="setMenu"><i class="fa fa-file-text-o">&nbsp;&nbsp;</i>Borrowed Books List
                                </div>
                            </a>
                        </li>
                        </div>
                    </ul>  
                </div>
            </td>
            <td valign="top" id="manageSchools" class="mg-table-td-main-2">
                
<script>
$( document ).ready(function() {
    collapseLeftMenu();
    //focusLibrary();
});
</script>