      <%=render :partial => 'course_section' %>

<div id="student_list_for_library_status">
</div>
   <button  id='issue-<%=@inventory_data %>' class="submits_issued_datas  form_close_calss mg-custom-form-btn">Submit</button>

<button  id='reservation-<%=@inventory_data %>' class="cancel-submits-ISSUE-data  form_close_calss mg-custom-form-btn">Cancel</button>


<script>
$(document).on("click",".cancel-submits-ISSUE-data",function(e){

      e.preventDefault();

        var ID =$(this).attr('id');
          var data=ID.split("-");
              var status_data=data[0];
              var id=data[1];
      
         $("#issued_pop_up").empty();
          $("#Renew-"+id+"").attr("disabled",false)
           $("#Return-"+id+"").attr("disabled",false	)

                    });





      </script>