<!-- Sec --><section id="userBodyContentBox" >
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                       <li class="myAccountMenu"><%=t('manage_event_committees')%></li>
                       <li id="viewEventCommitteesLiID">
                            <a class="menuItemsActivities" href="/event_committees/index" id="viewEventCommitteesAID">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%=t('event_committees')%>
                                </div>
                            </a>
                        </li>
                         <li id="viewAddCommitteeMemberLiID">
                            <a class="menuItemsActivities" href="/event_committees/add_committee_members" id="viewAddCommitteeMemberAID">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%=t('add_committee_members')%>
                                </div>
                            </a>
                        </li>
                        <!--  <li id="viewEventPlannersLiID">
                            <a class="menuItemsActivities" href="/event_planners" id="viewEventPlannersAID">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%#=t('event_planner')%>
                                </div>
                            </a>
                        </li> -->
                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageAdminCategoryID" class="mg-table-td-main-2">
              
