<!-- Sec --> 
<section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft">
                    <ul class="menuListHome" id="userUlLiID">
                       <!-- <li class="myAccountMenu">Dynamic Loader</li> -->
                      <!--  <h4 style="font-weight: 700;">General settings</h4> -->
                       <li class="myAccountMenu">General Settings</li>

                        <li class="active" id="editSchoolSettingsLiID">
                            <a class="menuItemsMailbox activeMenu" href="/settings" id="editSchoolSettingsID" >
                                <div class="setMenu"><i class="fa fa-gear">&nbsp;&nbsp;</i>Application Settings<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>


                        <li id="createUserLiID">
                            <a class="menuItemsMailbox " href="/settings" id="createUserID" >
                                <div class="setMenu"><i class="fa fa-plus-square-o">&nbsp;&nbsp;</i>Create New User<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
<!--                         <li >
                            <a class="menuItemsActivities" href="#" id="manageUserID">
                                <div class="setMenu"><i class="fa fa-tachometer">&nbsp;&nbsp;</i>Manage Users<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px;"></i>
                                </div>
                            </a>
                        </li> -->
                        <li id="rolePerLiID" >
                            <a class="menuItemsActivities" href="/settings/role_dashboard" id="rolePerAID">
                                <div class="setMenu" id="rolePerID"><i class="fa fa-qrcode">&nbsp;&nbsp;</i>Roles<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        
                        
                    </ul>
                </aside>
            </td>
            <td id="userRegFormID" class="mg-table-td-main-2" valign="top">