<section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft">
                    <ul class="menuListHome">
                       <li class="myAccountMenu"><%=t('manage_class')%> </li> 

                           <li id="createDynamicLiID">
                                                    <a class="menuItemsActivities" href="/classes/index/" id="create_dynamic" >
                                                        <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%=t('list_class_section')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                                        </div>
                                                    </a>
                                                </li>
                                           <!--  if user are able to create course -->
                                            <li id="createCourseTagLiID">
                                                <a class="menuItemsActivities" href="/classes/new/" id="createCourseIDgff">
                                                    <div class="setMenu"><i class="fa fa-book">&nbsp;&nbsp;</i><%=t('create_class')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                                    </div>
                                                </a>
                                            </li>
                  </ul>
                </aside>
            </td>
         
            <td id="recent_posts" class="mg-table-td-main-2">
                       
