<!-- Sec --><section id="userBodyContentBox" >
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu"><%=t('library_book_search')%></li>
                   
                        <li id="libraryBooksListLiID">
                            <a class="menuItemsActivities" href="/library/search_reserve_books_index" id="libraryBooksListAID">
                                <div class="setMenu"><i class="fa fa-search">&nbsp;&nbsp;</i>Search Library Resources
                                </div>
                            </a>
                        </li>
                        


                      
                        
                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageAdminCategoryID" class="mg-table-td-main-2">
              
