
<div class="label-field-pair">
  <label for="student_course"><%="Select Batch Group" %> :</label>
  <div  class="text-input-bg">
 
           <%=select_tag :mg_batch_group_id,options_for_select(@batch_groups),:prompt=>"Select Batch Group"%></div>
</div>