<!-- breadcrumbs Work -->
<% navigation_add 'Examinations', examinations_path %>
<% navigation_add 'CCE', examination_cce_new_path %>
<% navigation_add 'Scholastic Settings', examination_scholastic_index_path %>
<!-- breadcrumbs Work -->

<%= render  partial: 'examination_table_left' %>
<h4 class="mg-h4">Scholastic Settings</h4>
<div>
	<table>
		<tr>
			<td class="mg-exam-td-width" valign="top">
				<%=button_to "Formative Assessment Items",{ controller: 'examination',action:"scholastic_formativeAssessmentnew"}, {:class=>"mg-exam-scholastic-btn-width mg-btn-exam"} %><br/> 
			</td>
			<td class="mg-exam-td-width" valign="top">		     
				<%=button_to "Assign FA Items",{ controller: 'examination',action:"ScholasticFaGroups_index"}, {:class=>"mg-exam-scholastic-btn-width mg-btn-exam"} %><br/>
			</td>      
		</tr>
		
	</table>
</div>
<%= render  partial: 'examination_table_close' %><br/>

<script type="text/javascript">
  $(document).ready(function() {
        focusCurrentTab("viewStudentListAId","viewStudentListLiId");
        focusExaminationHeaderBox();
  });

</script>
