
 <table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">
   <tr>
     <td class="mg-td-width-half" valign="top">
   	 <label class="mg-label"> <%= t('unit_name')%></label>
   	 </td>
   	 <td class="mg-td-width-half" valign="top">
  	 <%if @laboratary.unit_name.present?%>
     <%=@laboratary.unit_name%>
     <%else%>
     <%="No Data"%>
     <%end%>
  	 </td>
 </tr>
</table>
<br/>
<a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>

<%#= link_to 'Cancel', laboratory_unit_path ,:style=>"font-size: 0.8em; color: #297ACC; text-decoration: none;" ,:class=>"mg-custom-form-btn"%>
 