<!-- Sec --><section id="userBodyContentBox" >
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu"><%=t('homework')%></li>
                   
                        <li id="viewCreateHomeworkLiID">
                            <a class="menuItemsActivities" href="/homework" id="viewCreateHomework">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%=t('create_homework')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <li id="viewHomeworkSubmissionLiID">
                            <a class="menuItemsActivities" href="/homework/submission/" id="viewHomeworkSubmissionIndex">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%=t('homework_submission')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        
                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageAdminCategoryID" class="mg-table-td-main-2">
            
              
