<!-- Sec --> 
<section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 4px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 212px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu"><%=t("manage_school")%></li>
                        <li class="active">
                            <a class="menuItemsActivities activeMenu" href="#" id="viewSchoolList">
                                <div class="setMenu"><i class="fa fa-tachometer">&nbsp;&nbsp;</i><%=t("school_list")%><i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px;"></i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="menuItemsActivities" href="#" id="createNewSchool" >
                                <div class="setMenu"><i class="fa fa-tachometer">&nbsp;&nbsp;</i><%=t("create_new_school")%><i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px;"></i>
                                </div>
                            </a>
                        </li>
                    </ul>  
                </aside>
            </td>
            <td  valign="top" id="manageSchools">
            </td>
        </tr>
    </table>
</section>
<br/>
<br/>

