<!-- Sec -->
 <section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">

                        <li class="myAccountMenu">Guardian</li>

                        <li id="viewGuardianDashboardLiID">

                            <a class="guardian-dashboard" href="/dashboards/guardian/" id="viewGuardianDashboard">
                                <div class="setMenu"><i class="fa fa-bar-chart">&nbsp;&nbsp;</i>My Dashboard<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <li id="GuardianStudentAttendenceLiID" >
                            <a class="guardian-student-attendence" href="/attendances/view_attendance" id="GuardianStudentAttendenceID">
                                <div class="setMenu"><i class="fa fa-shield">&nbsp;&nbsp;</i>Student Attendance<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <li id="viewGuardianFeesLiID">
                            <a class="guardian-fees" href="/dashboards/guardians_student_fee/" id="viewGuardianFees">
                                <div class="setMenu"><i class="fa fa-money">&nbsp;&nbsp;</i>Fees<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <li id="showPrincipleNotificationLiID">

                            <a class="Principle-Profile" href="/notifications/show_notification/" id="showPrincipleNotification">
                                <div class="setMenu"><i class="fa fa-weixin">&nbsp;&nbsp;</i>Show Notification<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        <li id="viewGuardianEventsLiID">

                            <a class="guardian-events" href="/dashboards/guardian_events/" id="viewGuardianEvents" >
                                <div class="setMenu"><i class="fa fa-tasks">&nbsp;&nbsp;</i>Events<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                       <!--  <li id="viewGuardianNewsLiID">
                            <a class="guardian-news" href="/dashboards/guardian_news/" id="viewGuardianNews">
                                <div class="setMenu"><i class="fa fa-newspaper-o">&nbsp;&nbsp;</i>News<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        
                        </li> -->


                        <li id="viewGuardianProfileLiID">

                            <a class="guardian-profile" href="/dashboards/guardian_profile/" id="viewGuardianProfile">
                                <div class="setMenu"><i class="fa fa-user">&nbsp;&nbsp;</i>Profile<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                      

                              <li id="viewApplyLeaveLiID">

                            <a class="guardian-profile" href="/dashboards/guardian_leave/" id="viewApplyLeave">
                                <div class="setMenu"><i class="fa fa-tag">&nbsp;&nbsp;</i>Apply Leave<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                         <li id="viewtransportResultLiID">                          
                            <a class="guardian-profile" href="/dashboards/transport_facility" id="viewtransportResultAID">
                                <div class="setMenu"><i class="fa fa-file-text">&nbsp;&nbsp;</i>Transport Facility Requisition</div>
                            </a>
                        </li>
                        <li id="viewGuardianHomeworkLiID">
                            <a class="guardian-homework" href="/homework/guardian/" id="viewGuardianHomework" >
                                <div class="setMenu"><i class="fa fa-book">&nbsp;&nbsp;</i>Homework<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <!-- For Result Start -->
                        <li id="viewResultLiID">                          
                            <a class="guardian-profile" href="/dashboards/guardian_student_results" id="viewResultAID">
                                <div class="setMenu"><i class="fa fa-file-text">&nbsp;&nbsp;</i>Result</div>
                            </a>
                        </li>

                        <!-- here we can show the student to the guardian   -->

                        <!--                         <li id="GuardianStudentsLiID" >
                         
                            <a class="guardian-student-attendence" href="#" id=
                            "GuardianStudents">
                                <div class="setMenu"><i class="fa fa-tachometer">&nbsp;&nbsp;</i>Students<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px;"></i>
                                </div>
                            </a>
                        </li> -->

                        <!-- guardian message  --> 
<!--                         <li id="viewGuardianMessagesLiID">
                            <a class="guardian-messages" href="#" id="viewGuardianMessages">
                                <div class="setMenu"><i class="fa fa-envelope">&nbsp;&nbsp;</i>Messages<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->
						 <li id="viewGuardianAlbumbLiID">                          
                            <a class="guardian-albumb" href="/albums/guardian_albums" id="viewGuardianAlbumbAID">
                                <div class="setMenu"><i class="fa fa-picture-o">&nbsp;&nbsp;</i><%=t('albums')%></div>
                            </a>
                        </li>

                        <li id="immunizationDetailsLID">
                                <a class="menuItemsActivities" href="/healthcare/immunization_vaccinations" id="immunizationDetailsAID">
                                    <div class="setMenu"><i class="fa fa-eyedropper">&nbsp;&nbsp;</i><%=t('immunization_details')%>
                                    </div>
                                </a>
                            </li>
                            <!-- <li id="boosterDosesListliId">
                                <a class="menuItemsActivities" href="/healthcare/immunization_booster_doses" id="boosterDosesListAID">
                                    <div class="setMenu"><i class="fa fa-bolt">&nbsp;&nbsp;</i><%#=t('booster_doses')%>
                                    </div>
                                </a>
                            </li>
 -->
                       
                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageGuardianCategoryID" class="mg-table-td-main-2">