<!-- Sec --> 
<!-- Sec --> <tr>
  <td><%= student.first_name %></td>
  <td><%= student.last_name %></td>
  <td><%= student.admission_number %></td>
  <td class="mg-align-center"> <button title="View Profile" id="<%=raw student.id%>" class="guardian-student-profile mg-icon-btn"><i class="fa fa-eye"></i></button></td>
 </tr>
 
 