<!-- Sec --> 
<a href="/students/new"><div class="admin-dashboard-tabs">Create Student</div></a>
<a href="/subjects/new"><div class="admin-dashboard-tabs">Create Subject</div></a>
<!-- <a href="/course/course_by_admin"><div class="admin-dashboard-tabs">Create Course</div></a> --> 
<a href="/employees/new"><div class="admin-dashboard-tabs">Create Employee</div></a>

<style>
  .admin-dashboard-tabs{
    
    background: linear-gradient(to bottom, #BCBBBA, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #343131;
    color: #363131;
    display: inline-block;
    margin: 10px;
    padding:10px;
   /* background-color: yellow;*/
  }  
  .admin-dashboard-tabs:hover{  
    background: #363131;
    color:white;

  
 }
</style>
<!-- 
<td>
        <div class="rightBodyContent">
           <article class="mailContentRight">
                <div class="bodyContent">
                    <div class="mainTab">
                        <span class="tabContent">MAILBOX</span>
                    </div>
                    <button type="button" class="composeEmail">Compose Email</button>
                    <button type="button" class="groupEmail">Group Email</button>
                    <input type="text" class="searchMessages" placeholder="Search Message ... ">
                    <div class="inboxLine ">
                      <table>
                        <tbody><tr class="inboxLineContent">
                         <ul class="inboxLineContent">
                                <td class="inboxBg"><span><a href="#">Inbox</a></span></td>
                                <td><span><a href="#">Sent</a></span></td>
                                <td><span><a href="#">Drafts</a></span></td>
                              <td>
                                  <div class="mailNumberBox">
                                   <span class="mailNumber"> Displaying  1-10 0f 200 
                                        <span class="prevNext">
                                              <span class="Prev"><i class="fa fa-chevron-left"></i></span>
                                              <span class="Next"><i class="fa fa-chevron-right"></i></span>
                                        </span>
                                      </span>    
                                  </div>
                                </td>
                          </ul>
                         </tr>
                        </tbody></table>
                    </div>
                    <div class="emailBox">
                          <input type="checkbox" class="checkboxMail" name="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="button" class="buttonStyle">Read</button>
                          <button type="button" class="buttonStyle">Unread</button>
                          <button type="button" class="buttonStyle">Delete</button>
                          <button type="button" class="buttonStyle">Trash</button>
                          <ul>
                            <div class="sortOption">
                                <span class="sortText">Sort by</span> | <i style="position: relative; top: 2px;" class="fa fa-chevron-circle-right"></i>
                             </div>
                             <div class="sortOptionsList" style="display: none;">
                                <li class="sortSubOption"><a href="#"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Date</a></li>
                                <li class="sortSubOption"><a href="#"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Important</a></li>
                                <li class="sortSubOption"><a href="#"><i class="fa fa-print"></i>&nbsp;&nbsp;Read</a></li>
                                <li class="sortSubOption"><a href="#"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Unread</a></li>
                             </div>
                         </ul>
                   </div>
                   <div class="emailUserMessages">
                          <table>
                            <tbody>
                                <tr class="emailUserMessages1">
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 am </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                 <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkboxMail" name="checkbox"></td>
                                    <td><i class="fa fa-lightbulb-o"></i></td>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td class="mailContent1"> User 1</td><td class="mailSubject"> School System Management</td>
                                    <td class="mailSubContent1"> - Hey! How are you</td>
                                    <td class="mailTime1">8:00 pm </td>
                                </tr>
                            </tbody>
                         </table>
                   </div>
                </div>
          </article>
       </div>
      </td> -->