<!-- Sec --> 
<%= render partial: 'principle_dashboard_left' %>
<p>Principal Message</p>
<%= render partial: 'application/common_left_close' %>

<script type="text/javascript">
    

 $(document).ready(function(){

    focusCurrentTab("viewPrincipleMessages","viewPrincipleMessagesLiID");
    focusDashboards();

});

</script>
