<!-- Sec --> 
<%= render partial: 'principle_dashboard_left' %>
<p>Student Attendance</p>
<p>employee Attendance</p>
<%= render partial: 'application/common_left_close' %>

<script type="text/javascript">
    

 $(document).ready(function(){

    focusCurrentTab("viewPrinciple","viewPrincipleLiID");
    focusDashboards();

});

</script>