<!-- Sec --><section id="userBodyContentBox" >
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu"><%=t('admin')%></li>
                    <!--     <li id="viewAdminProfileLiID">
                            <a class="menuItemsActivities" href="#" id="viewAdminProfile">
                                <div class="setMenu"><i class="fa fa-envelope-o">
&nbsp;</i>Dashboard<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->
                      <!--   <li id="viewAdminEventsLiID">
                            <a class="menuItemsActivities" href="#" id="viewAdminEvents" >
                                <div class="setMenu"><i class="fa fa-tasks">
&nbsp;</i>Events<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->
                     <!--    <li id="viewAdminMessagesLiID">
                            <a class="menuItemsActivities" href="#" id="viewAdminMessages">
                                <div class="setMenu"><i class="fa fa-envelope">&nbsp;&nbsp;</i>Messages<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->
                        
                 <!--        <li id="viewAdminNewsLiID">
                            <a class="menuItemsActivities" href="#" id="viewAdminNews">
                                <div class="setMenu"><i class="fa fa-newspaper-o">
&nbsp;</i>News<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> 
                                </div>
                            </a>
                        </li> -->
                        <li id="viewEventAdminCalendarLiID">
                            <a class="menuItemsActivities" href="/events/admin_calender" id="viewEventAdminCalendar">
                                <div class="setMenu"><i class="fa fa-calendar">&nbsp;&nbsp;</i><%=t('calendar')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        <li id="viewAdminEventListLiID">
                            <a class="menuItemsActivities" href="/events/index/" id="viewAdminEvent">
                                <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%=t('eventslist')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                         <li id="viewAdminEventTypesLiID">
                            <a class="menuItemsActivities" href="/event_types/index/" id="viewAdminEventTypes">
                                <div class="setMenu"><i class="fa fa-th">&nbsp;&nbsp;</i><%=t('eventtypes')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageAdminCategoryID" class="mg-table-td-main-2">
              
