<table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">
   <tr>
     <td class="mg-td-width-half" valign="top">
   		<label class="mg-label"> <%= t('name')%></label>
   	 </td>
   	 <td class="mg-td-width-half" valign="top">
  		<%= @event_types.name %>
  	 </td>
 </tr>

 <tr>
     <td class="mg-td-width-half" valign="top">
  		<label class="mg-label"><%=t('eventcolor')%></label>
  	 </td>
  	 <td class="mg-td-width-half" valign="top">
  		<%= @event_types.event_color %>
  	 </td>
 </tr>
</table>
 

