<!-- Sec --> 
<%= fields_for (dueFine) do |f| %>
	
		
		

		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="due-fine-table-cls mg-table-spacing">
			<tbody>
			
				<tr>
	              	<td style="width:220px;">
	              		
	              	</td>
	              	<td>
	                	
	                	
	                	
	              	</td>
	              	
	              	<br/>
	          	</tr>
               
	              
	          	
	          	<tr>
                  	
              	</tr>

			</tbody>
		</table>
	<%end%>
