<!-- Sec --> 

 <section id="userBodyContentBox" style="margin: 0 auto 40px;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                        <li class="myAccountMenu">Manage Fees</li>
<!--                         <li id="viewFeeListLiID">
                            <a class="menuItemsActivities" href="#" id="viewFeeListID">
                                <div class="setMenu"><i class="fa fa-credit-card">&nbsp;&nbsp;</i>Collect Fee<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->

                        <li id="viewFeeCategoryListLiID">
                            <a class="menuItemsActivities " href="/fees" id="viewFeeCategoryListID" >
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i>Fee Category<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li>
<!--                         <li >
                            <a class="menuItemsActivities" href="#" id="viewFeePaidListID">
                                <div class="setMenu"><i class="fa fa-plus-square">&nbsp;&nbsp;</i>Paid<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->
                        
<!--                         <li >
                            <a class="menuItemsActivities" href="#" id="viewFeeUnPaidListID">
                                <div class="setMenu"><i class="fa fa-minus-square">&nbsp;&nbsp;</i>Unpaid<i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i>
                                </div>
                            </a>
                        </li> -->

                        <li id="feeDiscountLiId">
                            <a class="menuItemsActivities" href="/fees/fee_discount_index" id="feeDiscountId">
                                <div class="setMenu"><i class="fa fa-eraser">&nbsp;&nbsp;</i>Fee Discount<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>

                        <li id="createFineLiID">
                            <a class="menuItemsActivities" href="/fees/fee_fine_index" id="dueFineId">
                                <div class="setMenu"><i class="fa fa-ticket">&nbsp;&nbsp;</i>Late Fee Fine<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        <li id="createFinesLiID">
                            <a class="menuItemsActivities" href="/fees/fine_from_index" id="dueFinesId">
                                <div class="setMenu"><i class="fa fa-ticket">&nbsp;&nbsp;</i>Create Fine<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                         <li id="feeScheduleLiID">
                            <a class="menuItemsActivities" href="/fees/fee_schedule_index" id="feeScheduleID">
                                <div class="setMenu"><i class="fa fa-history">&nbsp;&nbsp;</i>Fee Schedule<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>
                        <li id="feeCollectionLiID">
                            <a class="menuItemsActivities" href="/fees/fee_collection" id="feeCollectionID">
                                <div class="setMenu"><i class="fa fa-pie-chart">&nbsp;&nbsp;</i>Fee Collection<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                </div>
                            </a>
                        </li>    

                       

                        <li id="feeDefaulterLiID">
                            <a class="menuItemsActivities" href="/fees/fee_defaulter" id="feeDefaulterAID">
                                <div class="setMenu"><i class="fa fa-exclamation-circle">&nbsp;&nbsp;</i>Fee Defaulter<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li> 
                        <li id="feeRecepterLiID">
                            <a class="menuItemsActivities" href="/fees/fee_recept" id="feeRecepterAID">
                                <div class="setMenu"><i class="fa fa-file">&nbsp;&nbsp;</i>Fee Receipt<!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li>  


                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageFeeCategoryID" class="mg-table-td-main-2">
         
<script>
$(document).ready(function(){
    focusFees();
});
</script>