<table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">
<tr>
      <td class="mg-td-width-half" valign="top">
        <label class="mg-label"><%=t("report_type_name")%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
     
<label class="mg-label-inner-form"> <%=@show_report_type.report_type_name%></label>
        
      </td>
  </tr>
  <tr>
</table>


