/* comm */
@charset "utf-8";
/* CSS Document */
/*#Footer{
	background:#4e7185;
	display:table;
	font-size:1em;
	font-weight:bold;
	width:100%;
	position: static;
}

#Footer ul{
	list-style:none;
	margin: 1em;
	text-align: center;
}

#Footer ul li{
	display:inline;
	padding:5px; 
}

#Footer ul li a{
	color:#fff;
	text-decoration:none;	
}

#Footer .verticalLine{
	border-right:1px solid #fff;
}

#Footer .verticalLine:before{
	content:"\00a0";
}
#Footer .verticalLine:after{
	content:"\00a0";
}*/
