<!-- com-->
<div class="navList" >
    <div class="breadcrumbs">
    
            <%= render_navigation %>
<!--             <ul>
                <li class="breadcrumb1">
                    <span class="breadcrumbText1" ><a href="#">SMS</a></span>
                    <span class="breadcrumbRight1"></span>
                </li>
                 <li class="breadcrumb2">
                    <span class="breadcrumbText2" ><a href="#">Mailbox</a></span>
                    <span class="breadcrumbRight2"></span>
                </li>
            </ul> --> 
    </div>  
</div>