<!-- com-->
<footer id="Footer">
    <!-- <div class="footer-sms-logo">
      <%#= image_tag("open-school-logo.png" , class: "mg-sms-logo" , :alt => "School-System-Management") %><span class="footer-sms-text">SMS</span>
    </div> -->
     <ul class="mg-align-center">
       <li>
            <a href="#">Terms &amp; Conditions</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">Privacy Policy</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">About Us</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">Contact Us</a>
       </li>
        <li class="powered-by-content-footer">
                  <span class="mg-powered-by-text-footer">Powered By - &copy; &nbsp;</span>
            <a href="http://www.mindcomgroup.com"><img src='<%=image_url("mindcom-logo.png") %>' style=" height: 30px; position: relative; top: -9px; width: 80px;"></a>
        </li>
     </ul>
     <!--<div class="s-icons">
      <span><a href="#"><i id="mg-twitter" class="fa fa-twitter-square"></i></a></span>
        <span><a href="#"><i id="mg-vimeo" class="fa fa-vimeo-square"></i></a></span>
        <span><a href="#"><i id="mg-linkedIn" class="fa fa-linkedin-square"></i></a></span>
        <span><a href="#"><i id="mg-gplus" class="fa fa-google-plus-square"></i></a></span>
        <span><a href="#"><i id="mg-fb" class="fa fa-facebook-square"></i></a></span>
    </div>-->
</footer>
<script type="text/javascript">
  //document.getElementById("mg-twitter").style.color = "#26a9e0";
  //document.getElementById("mg-vimeo").style.color = "#d91b5b";
  //document.getElementById("mg-linkedIn").style.color = "#0177b5 ";
  //document.getElementById("mg-gplus").style.color = "#dd4b39 ";
  //document.getElementById("mg-fb").style.color = "#537bbd";
</script>
