<!-- Sec -->
<div id="web-logo">
      <div id="front-cover">
            <div class="pen">
                 <div class="hide-front1"></div>
                 <div class="hide-front2"></div>
                 <div class="pen1"></div>
                 <div class="pen2"></div>
                 <div class="pen3"></div>
                 <div class="pen4"></div>
                 <div class="pen5"></div>
                    <div class="nib">
                        <svg height="150" width="400">
                              <defs>
                                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                  <stop offset="0%" style="stop-color:#595858;stop-opacity:1" />
                                  <stop offset="50%" style="stop-color:#abb0ac;stop-opacity:1" />
                                 <stop offset="100%" style="stop-color:#c0c1bc;stop-opacity:1" />
                                </linearGradient>
                              </defs>
                              <ellipse cx="200" cy="70" rx="85" ry="15" fill="url(#grad1)" />
                              <ellipse cx="200" cy="70" rx="65" ry="12" style="fill:#0f5177" />
                        </svg>
                        <div class="black-nib"></div>
                      </div>
                   </div>
       			 <div class="upper-cover"></div>
   		</div>
        <div id="pages">
            <div id="sms"><b><%=t("school_management_system")%></b></div>
             <div class="page-bottom">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>  
             </div>
            
             <div class="page-right">
                <div class="circle"></div>
                <div class="liner1"></div>
                <div class="liner2"></div>
                <div class="liner3"></div> 
             </div>
             
             <div class="tilt-ribbon-right"></div>
             
             <div class="bookmark-design">
                <div class="tilt-ribbon"></div>
                <div class="white-part"></div>
                <div class="white-strip-left"></div>
                <div class="white-strip-right"></div>
                <div class="white-strip-bottom1"></div>
                <div class="white-strip-bottom2"></div>
            </div>
        </div>
        <div id="backline">
                <div class="bl1"></div>
                <div class="bl2"></div>
                <div class="bl3"></div>
                <div class="bl4"></div>
                <div class="bl5"></div>
                <div class="bl6"></div>
                <div class="bl7"></div>
        </div>
</div>  