<!-- Sec -->
<ul class="rightContentAlign">
        	<li>
            	<ul>
                     <li class="profile-box">
                                <div class="drop-down">
                                  <!--   <b class="logout-styling">Logout</b> -->
                                  <a href="/log_out" class="logout-styling">Logout</a>
          <%#= link_to "Logout" , controller: 'sessions', action: 'destroy'  %>
                                    <!-- <b class="profile-text">My Profile<span class="arrow-down"></span></b>
                                    <ul class="profileContent">
                                        <li>
                                            <a href="#">Admin</a>
                                        </li>
                                        <li>
                                            <a href="#">Edit Profile</a>
                                        </li> 
                                        <li>
                                            <a href="#">Logout</a>
                                            <#%= link_to "Logout", controller: 'sessions', action: 'destroy' ,class: 'right-content-link' %>
                                        </li>
                                    </ul> -->
                                 </div> 
                      </li>
                      <!-- <li class="message-box">
                         <i class="fa fa-envelope-o" style="font-size:1.5em; font-weight:bold; color:#000;position: relative;padding: 4px;"></i><b class="locate-msg-text">(0) Messages &nbsp;</b> 
                      </li> -->
                  </ul>
              </li><br/><br/>
            <!-- <li id="search-box">
         		   <input class="search-text" type="text" name="search" placeholder="Search Here ..." />
                <button class="search-list" type="button">SEARCH</button>
         	  </li> -->
           </ul>