<!-- Sec --> 
<tr>
  <td><%= mg_student_category.name %></td>

  <td>
  	<button title="Edit" class="edit-mg-student-category mg-icon-btn" id="editMgStudentCategoryID-<%= mg_student_category.id%>"><i class="fa fa-pencil-square-o"></i></button>
    <button title="Delete" class="delete-mg-student-category mg-icon-btn" id="deleteMgStudentCategoryID-<%= mg_student_category.id%>"><i class="fa fa-trash"></i></button>
    </td>

</tr>
